.odd {background-color: #ffb6c1;
    font-family:Verdana, 'DejaVu Sans', sans-serif; 
    }


#two{color: rgb(0,0,255);
font-size: 36px;
}

.altered-font-size {font-size: 24px;
}

#four {background-color: rgb(63, 217, 63);
font-size: 24px;
font-weight: bold;}

